
<div class="container">
  <div class="row">
    <div class="col-md-12" *ngIf="isNewUser">
        <div class="jumbotron">
          <h1 class="display-3">Welcome {{ userName }}</h1>
          <p class="lead">
            We are happy to see you here. Add some expnese details by clicking on 'Add New Expense' on top get started.
          </p>
        </div>
    </div>
    <div class="col-sm-12" *ngIf="!isNewUser">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Category Wise Piechart</h4>
          <div style="height:300px;">
            <ngx-charts-pie-chart
              *ngIf="showCategoryPieChart"
              [results]="categoryPieChartData"
              [labels]="true"
              (select) = "onSelect($event)">
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="!isNewUser">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h4 class="d-inline-flex">Month Wise Chart</h4>
            <div class="float-right" style="margin-top:-20px">
              <md-select floatPlaceholder="never" style="margin-right: 15px;" placeholder="Start date">
                  <md-option *ngFor="let date of dates" [value]="date">
                    {{ date }}
                  </md-option>
              </md-select>
              <span style="margin-right: 15px;"> to </span>
              <md-select floatPlaceholder="never"  placeholder="End date">
                  <md-option *ngFor="let date of dates" [value]="date">
                      {{ date }}
                  </md-option>
              </md-select>
            </div>
          </div>
          <div>
            <h4 class="text-center">Coming soon...</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>