<div class="row justify-content-center" style="margin:10% auto">
  <div class="col-xs-12 col-md-8 align-self-center">
    <div class="card">
        <div *ngIf="!logInSuccess" class="alert alert-danger text-center" role="alert">
            Invalid credentials. Please provide valid credentials.
        </div>
      <div class="card-body">
        <div class="card-title">
          <button mdTooltip="Go back to home" mdTooltipPosition="right" routerLink="/" md-mini-fab>
            <md-icon>keyboard_backspace</md-icon>
          </button>
          <h6 class="text-center">
            Please login to continue
          </h6>
        </div>
        <div class="card-text text-center">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <md-form-field class="w-100">
                <input mdInput formControlName="email" placeholder="Enter your email" value="" name="email">
            </md-form-field>
            <md-form-field class="w-100">
                <input mdInput formControlName="password" placeholder="Enter your password" value="" name="password" type="password">
            </md-form-field>
            <button md-raised-button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>